{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
	<br />
	<br />
	<br />
	<br />
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8  col-md-offset-3 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Connexion</h3>
				</div>
				<div class="panel-body">
					{% if user.is_authenticated %}
						<p>
						{% blocktrans with username=request.user.username trimmed %}
						    You are authenticated as {{ username }}, but are not authorized to
						    access this page. Would you like to login to a different account?
						{% endblocktrans %}
						</p>
					{% endif %}
					
					<form method="post" action="{% url 'login' %}">
						{% csrf_token %}
						{% bootstrap_form_errors form %}
						
						{% bootstrap_field form.username addon_before="<span class=\"glyphicon glyphicon-user\" aria-hidden=\"true\"></span>" %}
						{% bootstrap_field form.password addon_before="<span class=\"glyphicon glyphicon-lock\" aria-hidden=\"true\"></span>" %}
						<input type="hidden" name="next" value="{{ next }}" />
						
						<div class="text-right">
						<button type="submit" class="btn btn-primary">{% bootstrap_icon "user" %} {% trans 'Log in' %}</button>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<a href="{% url 'password-reset' %}">{% trans 'Forgotten your password or username?' %}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
