{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<script src="{% static "efenua/js/jquery.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "efenua/css/bootstrap.min.css" %}">

</head>
{% load i18n %}
{% load menu %}
{% generate_menu %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
  
  {% if user.is_active and user.is_staff %}
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% block branding %}{% endblock %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{% if site_url %}<li><a href="{{ site_url }}" class="item">{% trans 'View site' %}</a></li>{% endif %}
			{% url 'django-admindocs-docroot' as docsroot %}
	      	{% if docsroot %}
	          	<li><a href="{{ docsroot }}" class="item">{% trans 'Documentation' %}</a></li>
	      	{% endif %}
      	</ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
          <ul class="dropdown-menu">
			{% block userlinks %}
				{% with menu=menus.user %}{% include "efenua/menu/navbar.html" %}{% endwith %}
			{% endblock %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endif %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			{% if user.is_active and user.is_staff %}
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Dev</h3>
				  </div>
				  	<ul class="nav nav-pills nav-stacked">
					{% with menu=menus.dev %}{% include "efenua/menu/navs.html" %}{% endwith %}
					</ul>
				</div>
				
			{% endif %}
		</div>
			
		<div class="col-md-8">
			        {% block breadcrumbs %}
					  <div class="row">
						<div class="col-md-22">
					        <a href="{% url 'admin:index' %}" class="breadcrumb">{% trans 'Home' %}</a>
							{% if title %} &rsaquo; {{ title }}{% endif %}
					    </div>
					  </div>
				    {% endblock %}
				    
				    {% block messages %}
				        {% if messages %}
				        <ul class="messagelist">{% for message in messages %}
				          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
				        {% endfor %}
				        </ul>
				        {% endif %}
				    {% endblock messages %}
				    
				    {% block pretitle %}{% endblock %}
				    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				    
				    {% block content %}
			        	{% block object-tools %}{% endblock %}
			        	{{ content }}
			        {% endblock %}
		</div>
		
		<div class="col-md-2">{% block sidebar %}{% endblock %}</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			{% block footer %}{% endblock %}
		</div>
	</div>
</div>


    {% if not is_popup %}
        {% block nav-global %}{% endblock %}
    {% endif %}

{% block extrafoot %}{% endblock %}
<script src="{% static "efenua/js/bootstrap.min.js" %}"></script>

</body>
</html>
