{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

<script src="{% static "efenua/js/jquery.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "efenua/css/semantic.min.css" %}">

</head>
{% load i18n %}
{% load menu %}
{% generate_menu %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
  
  <!-- Container -->
  <div class="ui grid">
	
	<!-- Header -->
	<div class="sixteen wide column">
		<div class="ui menu">
			<div class="item">{% block branding %}{% endblock %}</div>
		  	{% if site_url %}<a href="{{ site_url }}" class="item">{% trans 'View site' %}</a>{% endif %}
		  	{% if user.is_active and user.is_staff %}
		      	{% url 'django-admindocs-docroot' as docsroot %}
		      	{% if docsroot %}
		          	<a href="{{ docsroot }}" class="item">{% trans 'Documentation' %}</a>
		      	{% endif %}
	      	{% endif %}
	          
			<div class="right menu">
				{% if user.is_active and user.is_staff %}
					{% block userlinks %}
						<div class="ui simple dropdown item">Mon compte
						    <i class="dropdown icon"></i>
						    <div class="menu">
						      {% with menu=menus.user %}{% include "efenua/menu/navbar.html" %}{% endwith %}
						    </div>
					  	</div>
					{% endblock %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Header -->
	
	<!-- Sidebar -->
	<div class="sixteen wide column">
		<div class="ui grid">
			{% if user.is_active and user.is_staff %}
				
				<div class="three wide column">
					<div class="ui vertical pointing fluid menu">
					{% with menu=menus.dev %}{% include "efenua/menu/navbar.html" %}{% endwith %}
					
					</div>
				</div>
			{% endif %}
			<!-- Content -->
			<div class="nine wide column">
			        {% block usertools %}
				        {% if has_permission %}
				        <div id="user-tools">
				            {% block welcome-msg %}
				                {% trans 'Welcome,' %}
				                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
				            {% endblock %}
				        </div>
				        {% endif %}
			        {% endblock %}
			        
			        {% block breadcrumbs %}
				    	<div class="breadcrumbs">
				    		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
				    		{% if title %} &rsaquo; {{ title }}{% endif %}
				    	</div>
				    {% endblock %}
				    
				    {% block messages %}
				        {% if messages %}
				        <ul class="messagelist">{% for message in messages %}
				          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
				        {% endfor %}</ul>
				        {% endif %}
				    {% endblock messages %}
				    
				    {% block pretitle %}{% endblock %}
				    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
				    
				    {% block content %}
			        	{% block object-tools %}{% endblock %}
			        	{{ content }}
			        {% endblock %}
			</div>
			<!-- Content -->
		  
		  
			<div class="four">
				{% block sidebar %}{% endblock %}
			</div>
	
		</div>
	</div>
	<!-- Sidebar -->
	
 </div>
<!-- Container -->



    {% if not is_popup %}

        {% block nav-global %}{% endblock %}


    {% endif %}



    {% block footer %}{% endblock %}



<script src="{% static "efenua/js/semantic.min.js" %}"></script>

</body>
</html>
