{% load i18n admin_urls %}

<div class="row">
    <div class="col-sm-12">
        {% if show_delete_link %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <a href="{% add_preserved_filters delete_url %}" class="btn btn-danger">{% trans "Delete" %}</a>
        {% endif %}

        <div class="btn-group">
          {% if show_save %}<button type="submit" class="btn btn-primary" name="_save" /><span class="glyphicon glyphicon-save" aria-hidden="true"></span> {% trans 'Save' %}</button>{% endif %}
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% if show_save_as_new %}<li><button type="submit" name="_saveasnew" class="btn btn-link">{% trans 'Save as new' %}</button></li>{% endif %}
            {% if show_save_and_add_another %}<li><button type="submit" name="_addanother" class="btn btn-link">{% trans 'Save and add another' %}</button></li>{% endif %}
            {% if show_save_and_continue %}<li><button type="submit" name="_continue" class="btn btn-link">{% trans 'Save and continue editing' %}</button></li>{% endif %}
          </ul>
        </div>
    </div>
</div>

