{% load staticfiles %}
{% load bootstrap3 %}
{% load menu %}
{% generate_menu %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Title</title>
        <link rel="stylesheet" href="{% static "efenua/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "efenua/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "efenua/css/bootstrap-checkbox.css" %}"/>
        <link rel="stylesheet" href="{% static "efenua/css/base.css" %}"/>
        <script src="{% static "efenua/js/jquery.min.js" %}"></script>
        <script src="{% static "efenua/js/bootstrap.min.js" %}"></script>
        {% block extrahead %}{% endblock %}
        {{ form.media }}
    </head>
    <body>
    <nav class="navbar">
      {% block navbar %}
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block navbar_right %}
			<ul class="nav navbar-nav navbar-right">
				{% include "menu/bootstrap3-navbar.html" with menu=menus.navbar %}
				{% if menus.settings %}
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{% bootstrap_icon "cog" %}<span class="caret"></span></a>
					{% include "menu/bootstrap3-navbar-submenu.html" with items=menus.settings %}
				</li>
				{% endif %}
				<li>
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% bootstrap_icon "user" %} <span class="caret"></span></a>
					{% include "menu/bootstrap3-navbar-submenu.html" with items=menus.user %}
				</li>
			</ul>
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </nav>
        
     <div class="container-fluid">
	
      <div class="row">
        <div class="col-sm-3 col-md-2">
			{% include "menu/bootstrap3-sidebar.html" with menu=menus.main %}
        </div>
        <div class="col-sm-9 col-md-10">
        	{% if breadcrumbs %}
        		<ol class="breadcrumb">
					{% block breadcrumbs %}
						<li><a href="{% url "dashboard" %}">{% bootstrap_icon "home" %}</a>
					{% endblock %}
				</ol>
			{% endif %}
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    
    {% block extrafooter %}{% endblock %}
    </body>
</html>