{% extends "base.html" %}
{% load efenua_extras %}
{% load bootstrap3 %}

{% block breadcrumbs %}
	{{ block.super }}
	{% include "efenua/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
                <h3 class="panel-title">{{ object }}</h3>
            </div>
			<div class="panel-body">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group" role="group">
						{% include "efenua/toolbar.html" with menu=action_static %}
					</div>
				</div>
				
				{% if object.created_at %}
					<p class="text-muted">
						Cr&eacute;&eacute; le {{ object.created_at }}
						{% if object.created_by %} par {{ object.created_by }}{% endif %}
						{% if object.updated_at %}
							<br />modifi&eacute; le {{ object.updated_at }}
							{% if object.updated_by %} par {{ object.updated_by }}{% endif %}
						{% endif %}
					</p>
				{% endif %}

				<table class="table">
				{% for field in fields %}
					<tr>
						<td>{{ object|get_verbose_field_name:field }}</td>
						<td>{{ object|get_attribute:field }}</td>
					</tr>
				{% endfor %}
				</table>
            </div>
		</div>
	</div>
</div>

{% include "efenua/historical.html" with object=object %}

{% endblock %}
