{% extends "base.html" %}
{% load efenua_extras %}
{% load bootstrap3 %}

{% block breadcrumbs %}
	{{ block.super }}
	{% include "efenua/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="btn-toolbar" role="toolbar">
					<div class="btn-group" role="group">
						{% include "efenua/toolbar.html" with menu=action_static %}
					</div>
				</div>
			</div>

			<table class="table">
			{% for field in fields %}
				<tr>
					<td>{{ object|get_attribute:field }}</td>
				</tr>
			{% endfor %}
			</table>
            
		</div>
	</div>
</div>

{% include "efenua/historical.html" with object=object %}

{% endblock %}
