{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block breadcrumbs %}
	{{ block.super }}
	{% include "efenua/breadcrumbs.html" %}
{% endblock %}


{% block content %}
    <div class="row">
		<div class="col-md-9">
			<form action="{{ request.REQUEST.next|urlencode }}" method="post" id="form_table">
				{% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ table_header }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group" role="group">
                                        {% include "efenua/toolbar.html" with menu=action_static %}
									</div>
                                    <div id="action_many" class="btn-group" role="group">
                                        {% include "efenua/toolbar.html" with menu=action_many %}
                                    </div>
                                    <div id="action_one" class="btn-group" role="group">
                                    
                                    </div>
                                    <div id="hidden_action_one">
                                    {% for object in queryset %}
                                        <div id="action_one_{{ object.pk }}" class="btn-group action_one" role="group">
                                        {% include "efenua/toolbar.html" with menu=action_one %}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    
                                    <div class="btn-group pull-right" role="group">
	                                    {% if action_export_csv %}
									    	<button type="submit" class="btn btn-default" title="{{ action_export_csv.label }}" name="action" value="{{ action_export_csv.url }}">{% if action_export_csv.icon %} <span class="glyphicon glyphicon-{{ action_export_csv.icon }}" aria-hidden="true"></span> {% endif %}</button>
										{% endif %}
									</div>
                                </div>
                            </div>
                            {% render_table table %}
                            <div class="panel-footer"><span id="count">0 sélectionné(s)</span> / {{ table_count }}</div>
                        </div>
                    </div>
                </div>
			</form>
		</div>
		
		<div class="col-md-3">
			<div class="panel panel-info">
			    <div class="panel-heading"><h3 class="panel-title">Filtres</h3></div>
			    <div class="panel-body">
			        <form action="" method="get">
			            {% for field in filter.form %}
			            	{% bootstrap_field field show_help=False %}
			            {% endfor %}
			            <p class="text-right"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filtrer</button></p>
			        </form>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrafooter %}
    <script>
        $(document).ready(function() {
            // Initialisation
            var $checkboxes = $('table td input[type="checkbox"]');
            $('#action_many').hide();
            $('#hidden_action_one').hide();
            
            $('table tr').on('click', (function(event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            }));
            $checkboxes.change(function (e) {
                var countCheckedCheckboxes = $checkboxes.filter(':checked').length;
                $('#count').text(countCheckedCheckboxes+ ' sélectionné(s)');
                
                if(countCheckedCheckboxes>=1){
                    $('#action_many').show();
                }
                else{
                    $('#action_many').hide();
                }
                
                var checkbox_value = $(this).attr('value');
                if(countCheckedCheckboxes==1){
                    $('#action_one').html($('#action_one_'+checkbox_value).html());
                }
                else{
                    $('#action_one').text('');
                }
                
                if ($(this).is(":checked")) {
                    $(this).closest('tr').addClass("selected");
                } else {
                    $(this).closest('tr').removeClass("selected");
                }
            });
        });
    </script>
{% endblock %}