{% load efenua_extras %}

{% for item in menu %}
    {% if item|is_instance:"efenua.utils.EfenuaMenuItemLink" %}
    <a href="{% url item.url %}" class="btn {{ item.options }}">{% if item.icon %} <span class="glyphicon glyphicon-{{ item.icon }}" aria-hidden="true"></span> {% endif %}{{ item.label }}</a>
	{% endif %}
	
	{% if item|is_instance:"efenua.utils.EfenuaMenuItemSubmit" %}
    <button type="submit" class="btn btn-default" name="action" value="{{ item.url }}">{% if item.icon %} <span class="glyphicon glyphicon-{{ item.icon }}" aria-hidden="true"></span> {% endif %}{{ item.label }}</button>
	{% endif %}
{% endfor %}